// Place all the styles related to the Appointments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@font-face {
    font-family: myFirstFont;
    src: url("/assets/BankGothic Regular.ttf");

}

body {
	width: 90%;
	margin: auto;
	font-family: myFirstFont, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
	padding-bottom: 200px;

}
h1{
	margin-bottom: 3em;
	padding-left: 10px;
	background: black;
	color:#1fcaa7;
	font-size: 20px;
  position:fixed;
  z-index:1;
	width: 90%;


}

.submit-button {
	background: #CC0000;
	color: #FFFFFF;
	cursor: pointer;
	border: 0;
	box-shadow: none;
	border-radius: 5px;
	font-size: 20px;
	padding: 10px;
	margin: 2em;
	border:1px solid #CC0000;
}
.submit-button:hover {
	background: #FFFFFF;
	color: #CC0000;
	cursor: pointer;
	border: 0;
	box-shadow: none;
	border-radius: 5px;
	font-size: 20px;
	padding: 10px;
	margin: 2em;
	border:1px solid #CC0000;
}


.delete-button {
	background: white;
	color: #00caf5;
	cursor: pointer;
	border: 0;
	box-shadow: none;
	border-radius: 3px;
	font-size: 15px;
	padding: 5px;
	margin: 2px;
	border:1px solid #00caf5;
}

.delete-button:hover {
	background: #00caf5;
	color: white;
}

.edit-button {
	background: #1fcaa7;
	color: #FFFFFF;
	cursor: pointer;
	border: 0;
	box-shadow: none;
	border-radius: 3px;
	font-size: 15px;
	padding: 5px 15px 5px 15px;
	margin: 2px;
	border:1px solid #1fcaa7;
}

.edit-button:hover {
	border:1px solid #1fcaa7;
	background: white;
	color: #1fcaa7;
}

.newappointmentdiv{
	display: inline-block;
	float: left;
	padding-top: 100px;
}

.appointment {
	padding-top: 80px;
	border-bottom: solid 1px #ccc;
	margin-left: 30em;
	font-family: myFirstFont;
}

.star {
cursor: pointer;
height: 14px;
width: 14px;
margin: 2px;
float: left;
background-color: grey;
clip-path: polygon(
50% 0%,
63% 38%,
100% 38%,
69% 59%,
82% 100%,
50% 75%,
18% 100%,
31% 59%,
0% 38%,
37% 38%
);
}
.star.selected {
background-color: #1fcaa7;
}




@media screen and (max-width: 800px) {
	.newappointmentdiv{
		display: block;
		border:2px solid black;
	}


}